$navcolor: rgba(192, 192, 192, 0.9);
$footcolor: rgb(128, 128, 128);
$containerSize: 1024px;

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .container {
    margin-top: 100px;
		min-width: $containerSize;
		width: $containerSize;
		@media screen and (max-width: 991px) {
				margin-top: 80px;
		}
  }

	footer {
		background-color: $footcolor;
		color: white;
		width: 100%;
		border-top: 2px solid black;
		text-align: center;
		padding: 15px;
		margin-top: auto;
		@media screen and (max-width: $containerSize) {
			width: $containerSize;
		}
	}
}

//NAVIGATION CSS
.navigation {
  nav {
		backdrop-filter: blur(3px);
		margin: 0 auto;
		min-height: 80px;
		border-bottom: 2px solid black;
	}

  .nav-logo {
		background-image: url("../../public/favicon.ico");
		background-size: 32px 32px;
		margin-top: 2px;
		margin-right: 16px;
		width: 32px;
		height: 32px;
	}

	.navbar {
		background-color: $navcolor !important;
		font-weight: bold;
		font-size: 1.25rem;
		padding: 0.5rem 1.5rem;
		.nav-item {
			padding: 0.5rem 0;
			.nav-link, .fab {
				color: rgb(0, 0, 0);
				&:hover {
					color: rgba(0,0,0,0.7);
				}
			}
		}
		.navbar-brand {
			color: black;
			font-size: 1.5rem;
		}
	}

  #navbarBlocker {
		display: none !important;
	}

	#navbarSupportedContent {
		background-color: unset;

		ul {
			width: 100%;
			justify-content: flex-start;
		}
		li:nth-child(n+4) {
			margin-left: auto;
		}
	}

  @media screen and (max-width: 991px) {
		nav {
			min-height: 55px;
			max-width: 100%;
		}
		.nav-logo {
			margin-top: 4px;
			margin-right: 0;
		}
		.navbar {
			.nav-item {
				font-size: 1rem;
				padding: 0;
				&:last-of-type {
					margin-bottom: 10px;
				}
			}
		}

		.navbar-brand {
			margin-right: 0;
		}

    .navbar-toggler {
			border-color: rgba(0, 0, 0, 1) !important;
			outline: none !important;
			&:focus {
				background-color: rgba(0,0,0,0.1);
			}
		}

    #navbarSupportedContent {
			.navbar-nav {
				margin-top: 5px;
			}

			li {
				text-align: center;
				font-size: 150%;

				&:nth-child(odd) {
					background-color: rgb(167, 167, 167);
				}
				&:nth-child(even) {
					background-color: rgb(139, 139, 139);
				}
			}
		}
  }
}
