.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  body {
    -webkit-font-smoothing: antialiased;
  }
  .row {
    margin: 20px 0;
    min-height: 75vh;
  }
  footer {
    padding: 10px 0;
    margin-top: auto;
  }
}